
@font-face {
    font-family: 'andhyta';
    src: url('../fonts/andhyta.regular-webfont.eot');
    src: url('../fonts/andhyta.regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/andhyta.regular-webfont.woff2') format('woff2'),
    url('../fonts/andhyta.regular-webfont.woff') format('woff'),
    url('../fonts/andhyta.regular-webfont.ttf') format('truetype'),
    url('../fonts/andhyta.regular-webfont.svg#andhyta') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chakrapetch';
    src: url('../fonts/chakrapetch-regular-webfont.eot');
    src: url('../fonts/chakrapetch-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/chakrapetch-regular-webfont.woff2') format('woff2'),
    url('../fonts/chakrapetch-regular-webfont.woff') format('woff'),
    url('../fonts/chakrapetch-regular-webfont.ttf') format('truetype'),
    url('../fonts/chakrapetch-regular-webfont.svg#chakrapetch') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'chakrapetch', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #FFDE95;
}

header {
    background-color: #E76F51;
    padding: 30px;
}

@media (max-width: 768px) {
    header {
        padding: 15px;
    }
}

main {
    padding: 5px 0 10px 0;
    background-color: #D9EDBF;
}

footer {
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0;
}

@media (max-width: 768px) {
    footer {
        font-size: 20px;
        padding: 15px 0;
    }
}

footer, footer a {
    background-color: #F4A261;
    color: #E76F51;
    text-decoration: none;
}

h1,
h1 a {
    font-family: 'andhyta', serif;
    font-size: 80px;
    color: #E9C46A;
}

@media (max-width: 768px) {
    h1,
    h1 a {
        font-size: 40px;
    }
}

h2 {
    font-family: 'andhyta', serif;
}

hr {
    border: 6px solid #c2d9a4;
    margin: 30px 0;
}

.card {
    border: 6px solid #c2d9a4;
    margin: 30px 15px;
}

.card-header,
.card-body,
.card-footer {
    border: none;
    padding: 0;
}

form {
    margin: 10px 20px;
}

form label {
    text-align: left;
}

.sweat {
    font-size: 50px;
}

.spinner {
    display: none;
    padding: 20px 0;
}

.dynamic-form-elements {
    display: none;
}

input.readonly,
select.readonly {
    background-color: #dddddd;
    color: #333333;
    cursor: not-allowed;
    pointer-events: none;
}

button[type="submit"],
button[type="submit"]:hover,
button[type="submit"]:active,
button[type="submit"]:focus {
    font-family: 'andhyta', serif;
    background-color: #E76F51;
    border-color: #E76F51;
    color: white;
    font-size: 33px;
    padding: 10px 20px 5px 20px;
}

#submit-be-patient-text {
    display: none;
    font-size: 16px;
}
