.navbar {
    background-color: #333333;
    color: #ffffff;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-item {
    color: #ffffff;
}

body {
    background-color: #888888;
    color: #ffffff;
}

a {
    color: #ffffff;
}

button.nav-link {
    color: #ffffff;
}

.card {
    background-color: #888888;
    border: none;
    padding: 0;
}

.card-body {
    margin: 0;
    padding: 0;
}

tr.scheduled {
    color: #999999;
}

.hide {
    display: none;
}

.progress {
    height: 30px;
}

.bg-looneyluca {
    background-color: #FB6C07;
}

.bg-ripplepunks {
    background-color: #C5E5F7;
}

.bg-loadingpunks {
    background-color: #DDDDDD;
}

.bg-pipingpunks {
    background-color: #1C1C1C;
}

.bg-solpepens {
    background-color: #9B43FF;
}

.bg-basealiens {
    background-color: #3250FC;
}
