
@font-face {
    font-family: 'lektonregular';
    src: url('../fonts/lekton-regular-webfont.eot');
    src: url('../fonts/lekton-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lekton-regular-webfont.woff2') format('woff2'),
    url('../fonts/lekton-regular-webfont.woff') format('woff'),
    url('../fonts/lekton-regular-webfont.ttf') format('truetype'),
    url('../fonts/lekton-regular-webfont.svg#lektonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'lektonregular', sans-serif;
    background-color: #111111;
    color: #ffffff;
}

.navbar {
    background-color: #333333;
    color: #ffffff;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-item {
    color: #ffffff;
}

a {
    color: #ffffff;
}

button.nav-link {
    color: #ffffff;
}

.row-posts .card {
    text-align: center;
}

.card {
    background-color: #333333;
    border: none;
    padding: 15px 10px;
    margin: 20px 0;
}

.card-body {
    margin: 0;
    padding: 0;
}

.card-body img {
    margin: 10px 0;
}

form textarea.form-control,
form input.form-control,
form select.form-control,
form select.form-control option,

form textarea.form-control:focus,
form input.form-control:focus,
form select.form-control:focus,
form select.form-control option:focus {
    background-color: #666666;
    color: #dddddd;
    border: none;
}

tr.scheduled {
    color: #999999;
}

.hide {
    display: none;
}

.progress {
    height: 30px;
}

.bg-looneyluca {
    background-color: #FB6C07;
}

.bg-ripplepunks {
    background-color: #C5E5F7;
}

.bg-loadingpunks {
    background-color: #DDDDDD;
}

.bg-pipingpunks {
    background-color: #1C1C1C;
}

.bg-solpepens {
    background-color: #9B43FF;
}

.bg-basealiens {
    background-color: #3250FC;
}
