
@font-face {
    font-family: 'lektonregular';
    src: url('../fonts/lekton-regular-webfont.eot');
    src: url('../fonts/lekton-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lekton-regular-webfont.woff2') format('woff2'),
    url('../fonts/lekton-regular-webfont.woff') format('woff'),
    url('../fonts/lekton-regular-webfont.ttf') format('truetype'),
    url('../fonts/lekton-regular-webfont.svg#lektonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'lektonregular', sans-serif;
    background-color: #111111;
    color: #ffffff;
}

.navbar {
    background-color: #333333;
    color: #ffffff;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-item {
    color: #ffffff;
}

a {
    color: #ffffff;
}

button.nav-link {
    color: #ffffff;
}

.row-posts .card {
    text-align: center;
    margin: 20px 0;
}

.card {
    background-color: #333333;
    border: none;
    padding: 15px 10px;
    margin: 0;
}

.card-header {
    border: none;
}

.card-body {
    margin: 0;
    padding: 0;
    border: none;
}

.card-body img {
    margin: 10px 0;
}

.nav-tabs .nav-link {
    padding: 7px 8px;
}

form textarea.form-control,
form input.form-control,
form select.form-control,
form select.form-control option,

form textarea.form-control:focus,
form input.form-control:focus,
form select.form-control:focus,
form select.form-control option:focus {
    background-color: #666666;
    color: #dddddd;
    border: none;
}

tr.scheduled {
    color: #999999;
}

.hide {
    display: none;
}

.progress {
    height: 30px;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: unset;
    background-color: unset;
    border-color: unset;
}

.bg-looney_luca,
.btn.bg-looney_luca:hover,
.btn-check:checked+.btn.bg-looney_luca,
.btn.bg-looney_luca.active,
.btn.bg-looney_luca.show,
.btn.bg-looney_luca:first-child:active,
:not(.btn-check)+.btn.bg-looney_luca:active {
    background-color: #FB6C07;
    border-color: #FB6C07;
}

.bg-ripple_punks,
.btn.bg-ripple_punks:hover,
.btn-check:checked+.btn.bg-ripple_punks,
.btn.bg-ripple_punks.active,
.btn.bg-ripple_punks.show,
.btn.bg-ripple_punks:first-child:active,
:not(.btn-check)+.btn.bg-ripple_punks:active {
    background-color: #C5E5F7;
    border-color: #C5E5F7;
    color: #333333;
}

.bg-loading_punks,
.btn.bg-loading_punks:hover,
.btn-check:checked+.btn.bg-loading_punks,
.btn.bg-loading_punks.active,
.btn.bg-loading_punks.show,
.btn.bg-loading_punks:first-child:active,
:not(.btn-check)+.btn.bg-loading_punks:active {
    background-color: #DDDDDD;
    border-color: #DDDDDD;
    color: #333333;
}

.bg-loading_punkson_base,
.btn.bg-loading_punkson_base:hover,
.btn-check:checked+.btn.bg-loading_punkson_base,
.btn.bg-loading_punkson_base.active,
.btn.bg-loading_punkson_base.show,
.btn.bg-loading_punkson_base:first-child:active,
:not(.btn-check)+.btn.bg-loading_punkson_base:active {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #333333;
}

.bg-piping_punks,
.btn.bg-piping_punks:hover,
.btn-check:checked+.btn.bg-piping_punks,
.btn.bg-piping_punks.active,
.btn.bg-piping_punks.show,
.btn.bg-piping_punks:first-child:active,
:not(.btn-check)+.btn.bg-piping_punks:active {
    background-color: #1C1C1C;
    border-color: #1C1C1C;
}

.bg-base_aliens,
.btn.bg-base_aliens:hover,
.btn-check:checked+.btn.bg-base_aliens,
.btn.bg-base_aliens.active,
.btn.bg-base_aliens.show,
.btn.bg-base_aliens:first-child:active,
:not(.btn-check)+.btn.bg-base_aliens:active {
    background-color: #3250FC;
    border-color: #3250FC;
}

.bg-rich_lists,
.btn.bg-rich_lists:hover,
.btn-check:checked+.btn.bg-rich_lists,
.btn.bg-rich_lists.active,
.btn.bg-rich_lists.show,
.btn.bg-rich_lists:first-child:active,
:not(.btn-check)+.btn.bg-rich_lists:active {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #464600;
}

.bg-has_mints,
.btn.bg-has_mints:hover,
.btn-check:checked+.btn.bg-has_mints,
.btn.bg-has_mints.active,
.btn.bg-has_mints.show,
.btn.bg-has_mints:first-child:active,
:not(.btn-check)+.btn.bg-has_mints:active {
    background-color: #C2DCEC;
    border-color: #C2DCEC;
    color: #333333;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active {
    border-radius: 5px;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.3);
}
